Hola {{ clientName }}

el concesionario {{ vendorName }} ha añadido una oferta en su configuracion de:

{{ carBrand }} {{ carModel }}

Comentarios: {{ message }}

Enlace: <a href="{{ url }}">acceda a los detalles de la oferta</a>